<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Fission Games</title>
  <div th:insert="~{fragments/general :: headerfiles}"></div>
</head>
<body>
<div th:insert="~{fragments/general :: navbar}"></div>
<div class="container mt-5">
  <h2 class="mb-4">Formulario de Videojuegos</h2>

  <!-- Formulario -->
  <form method="post" enctype="multipart/form-data" th:action="${juego.id != 0} ? @{/crud/juego/editar/post} : @{/crud/juego/agregar/post}" th:object="${juego}">
    <input type="hidden" th:value="${juego.id != 0} ? ${juego.id}">
    <h4 class="mb-3" th:text="${juego.id != 0} ? 'Editar juego' : 'Nuevo juego'"></h4>
    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" class="form-control mb-3" id="titulo" placeholder="Ingrese el título del juego" th:field="*{titulo}">
      <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="help-block" id="titulo-error"></span>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <input type="text" class="form-control mb-3" id="descripcion" placeholder="Ingrese la descripción del juego" th:field="*{descripcion}">
    </div>
    <div class="form-group">
      <label for="genero">Género</label>
      <select class="form-select" id="genero"th:field="*{genero}">
        <option value="Arcade">Arcade</option>
        <option value="RPG">RPG</option>
        <option value="Shooter">Shooter</option>
        <option value="Estrategia">Estrategia</option>
        <option value="Aventura">Aventura</option>
        <option value="Plataformas">Plataformas</option>
        <option value="Deporte">Deporte</option>
        <option value="Acción">Acción</option>
      </select>
    </div>

    <div class="form-group">
      <label for="enlace">Enlace</label>
      <input type="text" class="form-control mb-3" id="enlace" placeholder="Ingrese el enlace del juego" th:field="*{enlace}">
    </div>
    <div class="form-group">
      <label for="file">Portada</label>
      <input type="file" class="form-control mb-3" name="file" id="file" accept="image/*">
    </div>
    <div class="form-group">
      <label for="controles">Controles</label>
      <textarea class="form-control mb-3" id="controles" rows="3" placeholder="Ingrese los controles del juego" th:field="*{controles}"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
</body>
</html>