<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Fission Games</title>

  <th:block th:fragment="headerfiles" th:remove="tag">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/general.css">

  </th:block>
</head>
<body>
  <div th:fragment="navbar">
    <header class="py-3 mb-4 border-bottom" style="background-color: #00aac0;">
      <div class="row">
        <div class="col-7 d-flex flex-wrap justify-content-end">
          <a href="/"><img class="animacion" src="/img/FissionGamesLogo.jpg" width="200" style="margin-right: 20px;"></a>
        </div>

        <div class="col-5 d-flex flex-wrap justify-content-end">
          <ul class="nav nav-pills">
            <li class="nav-item" sec:authorize="isAnonymous()"><a href="/login" class="nav-link">Login</a></li>
            <li class="nav-item" sec:authorize="isAnonymous()"><a href="/register" class="nav-link">Registro</a></li>
          </ul>
          <div class="nav-item dropdown pe-5">
            <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" sec:authorize="isAuthenticated()">
              <span class="bi bi-person-circle h3"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="/perfil" class="nav-link">Perfil</a></li>
              <li class="dropdown-item"><a href="/logout" class="nav-link">Salir</a></li>
              <div class="dropdown-divider" sec:authorize="hasRole('ADMIN')"></div>
              <li class="dropdown-item" sec:authorize="hasRole('ADMIN')"><a href="/crud/lista" class="nav-link">Administración de Videojuegos</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>
</body>
</html>