body{
background-color: #2C2C2C;
color: #FFFFFF;
}
.nav-link{
color: #2C2C2C;
}
.animacion{
  transition: transform .5s ease;
}
.animacion:hover{
  transform: scale(1.1);
}
a{
text-decoration:none;
}
