<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
    <div th:insert="~{fragments/general :: headerfiles}"></div>
    <script type="text/javascript" src="/js/password.js"></script>
    <link rel="stylesheet" href="/css/passchange.css">
</head>
<body>
  <div th:insert="~{fragments/general :: navbar}"></div>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <form class="form-horizontal" method="post" enctype="multipart/form-data" th:action="@{/perfil/password/change}" th:object="${usuario}">
          <fieldset>
              <input type="hidden" th:field="*{id}"/>
              <input type="hidden" th:field="*{name}"/>
              <input type="hidden" th:field="*{nickName}">
              <input type="hidden" th:field="*{biografia}"/>
              <input type="hidden" th:field="*{email}"/>
              <input type="hidden" id="password" name="password" th:field="*{password}"/>
              <input type="hidden" th:field="*{avatar}"/>
              <input type="hidden" th:field="*{roles}">

              <legend>Cambiar Contraseña</legend>
              <div class="row mb-3">
                  <div class="col-sm-12">
                      <input id="password_actual" name="password_actual" type="password" class="form-control input-md" placeholder="Contraseña actual" required>
                      <p class="error" th:if="${#fields.hasErrors('password')}">Contraseña incorrecta</p>
                  </div>
              </div>
              <div class="row mb-3">
                  <div class="col-sm-12">
                      <input id="password_nueva" name="password_nueva" type="password" class="form-control input-md" oninput="check_match()" placeholder="Nueva contraseña" required>
                  </div>
              </div>
              <div class="row mb-3">
                  <div class="col-sm-12">
                      <input id="password_confirm" name="password_confirm" type="password" class="form-control input-md" oninput="check_match()" placeholder="Confirmar nueva contraseña" required>
                      <p id="pwmatch"></p>
                  </div>
              </div>

              <input type="submit" class="btn btn-danger" id="submit" value="Guardar Cambios" onclick="confirm('¿Cambiar contraseña?')" disabled>
              <a href="/perfil" class="btn btn-primary">Volver</a>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</body>
</html>