<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Fission Games</title>
  <div th:insert="~{fragments/general :: headerfiles}"></div>
</head>
<body>
<div th:insert="~{fragments/general :: navbar}"></div>
<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Portal de noticias</h1>
    <p class="lead">Noticias y novedades de nuestros videojuegos.</p>
    <form role="search">
      <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search" name="q" th:value="${param.q}">
    </form>
    <hr class="my-4">
  </div>
</div>
<div class="container">
  <div class="row">
    <div th:each="noticia:${listaNoticias}" class="col-md-4 mb-4">
      <div class="card">
        <img th:src="${noticia.imagen}" class="card-img-top" alt="Noticia">
        <div class="card-body">
          <h5 class="card-title" th:text="${noticia.titulo}"></h5>
          <p th:text="${noticia.fecha}"></p>
          <p class="card-text" th:text="${noticia.contenido}"></p>
          <a th:href="'/noticias/'+${noticia.id}" class="btn btn-primary">Ver mas</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>